#about {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  background: #0f172a;
}
.about-container {
  width: 90%;
  max-width: 1100px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25rem;

  color: white;
}
.about-left {
  display: flex;
  align-items: center;
  width: 50%;
  padding: 20px;
  height: 50%;
}
.aboutme {
  font-size: 52px;
  width: 215px;
  font-size: 48px;
  font-weight: 700;
  text-align: center;
}
.aboutme > span {
  width: 60px;
  height: 2px;
  border-bottom: 2px solid #38bdf8;
  display: block;
}
.about-right {
  display: flex;
  align-items: center;
  width: 50%;
  height: 50%;
  padding: 20px;
}
.info {
  width: 650px;
  font-size: 24px;
}

@media (max-width: 768px) {
  /* ---------- ABOUT SECTION ---------- */
  #about {
    height: auto;
  }
  .about-container {
    flex-direction: column;
    gap: 2rem;
  }

  .about-left,
  .about-right {
    width: 100%;
    height: auto;
    padding: 10px;
  }

  .aboutme {
    font-size: 36px;
    text-align: center;
    width: 100%;
  }

  .aboutme span {
    margin: 8px auto 0;
  }

  .info {
    width: 100%;
    font-size: 18px;
    text-align: center;
  }
}
