#home {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #0f172a;
}
.home-container {
  width: 90%;
  max-width: 1100px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;

  color: white;
}
/* Left text */
.left h2 {
  font-size: 4.5rem;
}

.left p {
  font-size: 7rem;
  margin-top: 10px;
}

.left span {
  color: #38bdf8;
  text-transform: uppercase;
}
.links {
  width: 80%;
  max-width: 450px;
  display: flex;
  align-items: center;
  gap: 2rem;
}
.links > li {
  list-style: none;
  cursor: pointer;
}
.links > li > a {
  color: #fff;
}
.links > li > a:hover {
  opacity: 0.7;
}

@media (max-width: 768px) {
  /* ---------- HOME SECTION ---------- */
  #home {
    height: 50vh;
  }
  .home-container {
    flex-direction: column;
    text-align: center;
    gap: 2rem;
  }

  .left h2 {
    font-size: 2.5rem;
  }

  .left p {
    font-size: 3rem;
  }

  .links {
    justify-content: center;
    margin-top: 1rem;
  }
}
