.navbar {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 450px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px 27px;
  border-radius: 16px;

  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  border: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);

  color: #fff;
  z-index: 1000;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 50px;
}

.nav-links li {
  cursor: pointer;
  transition: opacity 0.3s ease;
  font-size: 20px;
}

.nav-links li:hover {
  opacity: 0.7;
}
.nav-links a {
  text-decoration: none;
  color: #fff;
}
.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}
.hamburger span {
  width: 20px;
  height: 3px;
  background: white;
  border-radius: 5px;
}

.mobile-menu {
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  border: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);

  display: flex;
  flex-direction: column;
  gap: 16px;

  color: white;
  text-align: center;
}

.mobile-menu p {
  cursor: pointer;
  transition: opacity 0.3s ease;
  font-size: 20px;
}
.mobile-menu > p > a {
  text-decoration: none;
  color: #fff;
}
.mobile-menu p:hover {
  opacity: 0.7;
}
@media (max-width: 768px) {
  /* CSS inside runs ONLY on mobile */
  .nav-links {
    display: none;
  }

  .hamburger {
    display: flex;
  }
}
