.navbar {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px 30px;
  border-radius: 16px;

  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  border: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);

  color: #fff;
  z-index: 1000;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 50px;
}

.nav-links li {
  cursor: pointer;
  transition: opacity 0.3s ease;
  font-size: 20px;
}

.nav-links li:hover {
  opacity: 0.7;
}
.nav-links a {
  text-decoration: none;
  color: #fff;
}
.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  margin: auto;
}
.hamburger span {
  width: 20px;
  height: 3px;
  background: white;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.mobile-menu {
  position: fixed;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 650px;

  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  border: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);

  display: flex;
  flex-direction: column;
  gap: 16px;

  color: white;
  text-align: center;
  z-index: 1000;
}

.mobile-menu p {
  cursor: pointer;
  transition: opacity 0.3s ease;
  font-size: 20px;
}
.mobile-menu > p > a {
  text-decoration: none;
  color: #fff;
}
.mobile-menu p:hover {
  opacity: 0.7;
}
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(4px);
  z-index: 900;
}
/* Animate to X */
.hamburger.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.open span:nth-child(2) {
  opacity: 0;
}

.hamburger.open span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}
@media (max-width: 768px) {
  .navbar {
    width: auto;
    left: 50%;
    padding: 12px 16px;
  }

  .nav-links {
    display: none;
  }

  .hamburger {
    display: flex;
  }
}
