#home {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #0f172a;
}
.home-container {
  width: 90%;
  max-width: 1100px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;

  color: white;
}
/* Left text */
.left h2 {
  font-size: 4.5rem;
}

.left p {
  font-size: 7rem;
  margin-top: 10px;
}

.left span {
  color: #38bdf8;
  text-transform: uppercase;
}
.links {
  width: 80%;
  max-width: 450px;
  display: flex;
  align-items: center;
  gap: 2rem;
}
.links > li {
  list-style: none;
  cursor: pointer;
}
.links > li > a {
  color: #fff;
}
.links > li > a:hover {
  opacity: 0.7;
}
#about {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #0f172a;
}
.about-container {
  width: 90%;
  max-width: 1100px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25rem;

  color: white;
}
.about-left {
  display: flex;
  align-items: center;
  width: 50%;
  padding: 20px;
  height: 50%;
}
.aboutme {
  font-size: 52px;
  width: 215px;
}
.aboutme > span {
  width: 60px;
  height: 2px;
  border-bottom: 2px solid #38bdf8;
  display: block;
}
.about-right {
  display: flex;
  align-items: center;
  width: 50%;
  height: 50%;
  padding: 20px;
}
.info {
  width: 650px;

  font-size: 24px;
}
@media (max-width: 768px) {
  /* ---------- HOME SECTION ---------- */
  #home {
    height: 50vh;
  }
  .home-container {
    flex-direction: column;
    text-align: center;
    gap: 2rem;
  }

  .left h2 {
    font-size: 2.5rem;
  }

  .left p {
    font-size: 3rem;
  }

  .links {
    justify-content: center;
    margin-top: 1rem;
  }

  /* ---------- ABOUT SECTION ---------- */
  .about-container {
    flex-direction: column;
    gap: 2rem;
  }

  .about-left,
  .about-right {
    width: 100%;
    height: auto;
    padding: 10px;
  }

  .aboutme {
    font-size: 36px;
    text-align: center;
    width: 100%;
  }

  .aboutme span {
    margin: 8px auto 0;
  }

  .info {
    width: 100%;
    font-size: 18px;
    text-align: center;
  }
}
